<div class="box-container">
  <div class="app-title">Simple example application for the angular2-dropzone-wrapper</div>

  <div class="info-container">
    This example does not actually upload any of the selected files, only simulates the upload process.
  </div>

  <div class ="horizontal-container">
    <div class="vertical-container">
      <div class="box-title">Component</div>

      <div class="content-container">
        <dropzone class="upload-area" [config]="config" [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
      </div>
    </div>

    <div class="vertical-container">
      <div class="box-title">Directive</div>

      <div class="content-container">
        <div class="upload-area" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>
      </div>
    </div>
  </div>
</div>
