.app-title {
  font-size: 24px;
}

.box-title {
  font-size: 20px;
}

.box-container {
  box-sizing: border-box;
  width: 800px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;
  color: #555;
  font-family: sans-serif;
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.18),
    0 6px 6px rgba(0, 0, 0, 0.25);
  background-color: #eee;
}

.info-container {
  padding: 12px 16px;
  line-height: 24px;
}

.content-container {
  position: relative;
  overflow: auto;
  padding: 16px 24px;
  margin: 8px 16px;
  border-radius: 4px;
  background-color: #fff;
}

.dropzone.dz-clickable {
  height: 100%;
  min-height: 100px;
}

.dropzone:not(.dz-clickable) {
  opacity: 0.5;
  cursor: not-allowed;
}
