<div class="box-container">
  <div class="app-title">Simple example application for the angular2-dropzone-wrapper</div>

  <div class="info-container">
    This example does not actually upload any of the selected files, only simulates the upload process.
  </div>

  <div class="upload-container">
    <dropzone class="upload-area" [config]="config" [message]="'Click or drag images here to upload'" (uploadError)="onUploadError($event)" (uploadSuccess)="onUploadSuccess($event)"></dropzone>
    <div class="upload-area" dropzone [config]="config" (uploadError)="onUploadError($event)" (uploadSuccess)="onUploadSuccess($event)"></div>
  </div>
</div>
