<div class="box-container">
  <div class="app-title">{{title}}</div>

  <div class="info-container">
    For this example to work you need a server that can handle the uploading of the file.
  </div>

  <div class="upload-container">
    <dropzone class="upload-area" [config]="config" [placeholder]="'Drag or click here to upload an image'" (uploadDone)="onUploadDone($event)" (uploadError)="onUploadError($event)"></dropzone>
  </div>

  <div class="uploads-container">
    <div *ngFor="let image of uploadedImages">
      <img [src]="uploadedImages.url" class="preview-image">
    </div>
  </div>
</div>
