.dropzone {
  &.dz-clickable {
    position: relative;
    min-height: 32px;
    padding: 0;
    border: none;

    background: transparent;

    .dz-message {
      max-width: 100%;
      max-height: 100%;
      padding: 10px;
      border: 2px dashed #aaa;
      margin: 0;

      cursor: pointer;
      background-size: auto 100%;
      background-position-x: 50%;
      background-repeat: no-repeat;
      background-color: #eee;
    }

    .dz-preview {
      max-width: 100%;
      width: 100%;
      padding: 10px;
      margin: 0;
      border: 2px dashed #aaa;

      background-color: #eee;

      .dz-image {
        height: 200px;
        width: 100%;

        img {
          object-fit: cover;
          height: 200px;
          width: 100%;
        }
      }

      .dz-details,
      .dz-error-mark,
      .dz-success-mark {
        display: none;
      }

      .dz-error-message {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        padding: 8px;
        font-weight: bold;

        background-color: #eee;
      }

      .dz-progress {
        width: 90%;
        margin-left: -45%;
        border-radius: 4px;
        border: 1px solid #aaa;
        .dz-upload {
          background: rgba(4, 176, 233, 1);
        }
      }
    }
  }
  &.no-preview {
    .dz-preview .dz-image {
      display: none;
    }
  }
}
