.dropzone {
  &.dz-clickable {
    position: relative;
    padding: 0;
    border: none;

    background: transparent;

    .dz-message {
      max-width: 100%;
      max-height: 100%;
      padding: 10px;
      margin: 0;
      border: 2px dashed #aaa;

      cursor: pointer;
      background-color: #eee;
      background-size: auto 100%;
      background-position-x: 50%;
      background-repeat: no-repeat;
    }

    .dz-preview {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 320px;
      padding: 10px;
      margin: 0;
      border: 2px dashed #aaa;

      background-color: #eee;

      .dz-image {
        width: 100%;
        height: 100%;

        img {
          height: 100%;
          margin: 0 auto;
        }
      }

      .dz-error-mark,
      .dz-success-mark {
        display: none;
      }

      .dz-error-message {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        padding: 8px;

        font-weight: bold;
        background-color: #eee;
      }

      .dz-progress {
        width: 90%;
        margin-left: -45%;
        border-radius: 4px;
        border: 1px solid #aaa;

        .dz-upload {
          background: #333;
        }
      }
    }
  }
}
